@import '../../main';

.container {
  background: #333333;
  padding: 3vh 0;
  text-align: center;
  @include tablet{
    display: flex;
  }
  width: 100%;
}

.first-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: white;
  }
  @include tablet{
    width: 40%;
  }
}

.second-box {
  @include tablet{
    width: 60%;
  }
  text-align: left;
}

