@import '../../main';
::placeholder {
  color: white;
}

%full-width-item {
  width: 92vw;
  margin-bottom: 2%;
}

.footer {
  color: white;
  background: #333333;
  width: 100%;

  .separator {
    @extend %full-width-item;
    background: $light-text-color;
   }   

  .separator__tablet {
    @extend .separator;
    margin: 2% 0%;
    display: none;
    @include tablet {
      display: block;
    }
   }   

  .footer__top {
    width: 92%;
    padding: 5% 4% 0% 4%;
    
    .footer__title{
      padding: 3% 0%;
      font-size: 6vw;
      font-weight: bold;
      font-family: Serif; 
      text-align: center;
      color: $primary-color;
      @include tablet {
        font-size: 3vw;
        text-align: center;
      }
    }

    .footer__top__contact-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $light-text-color;
      padding-bottom: 3%;
      font-family: Roboto;
    }
  }
  
  .footer__bottom {
    padding: 2% 0%;
    background: #5A5A5A;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__bottom__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        align-items: flex-start;
        margin-left: 5vw;
      }
      @include desktop{
        flex-direction: row;
        div {
          padding-right: 1vw;
        }
      }
    }

    .footer__bottom__right {
      @include tablet {
        align-items: flex-start;
        margin-right: 5vw;
      }
    }
  }
}

