@import '../../main';

.experience {
  width: 100%;
  @include tablet{
    display: flex;
  }
  
  .experience__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 5% 0% 5%;

    @include tablet{
      width: 50%;
      align-items: flex-start;
    }
  }
   
  .experience__list {
    @include tablet{
      width: 50%;
    }

    .separator {
      width: 100%;
      margin: auto;
    }

    padding: 6% 6% 15% 6%;
    .experience__list__date{
      padding-top: 5%;
      text-transform: uppercase;
    }
    .experience__list__date, .title, .subtitle, .description-text {
      padding-bottom: 4%;
      padding-right: 25%;
    }

  }
    
}






