@import '../../main';

.responsive {
  @include tablet{
    display: flex;
  }
  width: 100%;
  background-color: #F2FCFE;

  .responsive__first-box{
    color: darken($light-color, 5%);
    background-image: url(assets/responsive-2044921_1280.jpg);
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center center;
    text-align: center;
    padding: 10vh;
    @include tablet{
      width: 60%;
    }
  }

  .responsive__second-box{
    color: darken($light-color, 60%);
    background: #9FCCE3;
    text-align: center;
    padding: 10vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
      width: 40%;
    }
  }

}

