@import '../../main';

.responsive {
  @include tablet{
    display: flex;
  }
  width: 100%;

  .responsive__first-box{
    color: darken($light-color, 5%);
    background: coral;
    text-align: center;
    padding: 10vh;
    @include tablet{
      width: 60%;
    }
  }

  .responsive__second-box{
    color: darken($light-color, 5%);
    background: #45A1FF;
    text-align: center;
    padding: 5vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
      width: 40%;
    }
  }

}

